header {
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    text-align: center;
}
.headline {
    align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #82FFF0;
    width: 100%;
    padding: 125px 0;
}
.profile {
    background-color: rgb(238, 238, 238);
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #82FFF0;
    width: 100%;
    height: 100px;
    text-align: center;
}
footer ul {
    padding: 25px;
}
footer ul li {
    display: inline;
}
footer ul li img {
    width: 50px; 
    height: 50px;
}
.profile1 {
    background-color: rgb(8, 8, 8);
}